@font-face {
  font-family: "SF-Pro-Display";
  src: url("./fonts/SF-Pro-Display-Light.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "SF-Pro-Display", sans-serif !important;
}

.flex {
  display: flex;
  margin: auto;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

ul {
  padding: 0;
  list-style: none;
}

.noStyleBtn {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.containerMaxWidth {
  max-width: 750px !important;
}

/* header */
.headerBackground {
  margin-bottom: 40px;
  height: 150px;
  background-color: #383428;
  -webkit-box-shadow: 10px 10px 40px -24px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 40px -24px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 40px -24px rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid grey;
}

.headerContainer {
  height: 150px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerContainer img,
.headerContainer p {
  margin: 0 auto;
}

.headerContainer p {
  color: #ef7734;
  font-size: 25px;
}

.logo {
  width: 90%;
  margin: auto;
}

.copyright {
  color: #383428;
  text-align: center;
  margin-top: 30px;
}

/* List */
.todo-list {
  margin: 0 !important;
}

.listContainer {
  border: 2px solid #b4d9cb;
  border-radius: 7px;
  margin: auto;
  color: #383428;
}

.todoItem {
  padding: 0 10px;
  border-bottom: 2px solid #b4d9cb;
}

.todoContainer,
.listMainTitleContainer {
  flex-direction: row;
}

.todoMain {
  width: 70%;
}

.btnRow {
  flex-direction: row;
  width: 20%;
  justify-content: end;
  margin-top: 8px !important;
}

.listIcon {
  width: 10%;
  margin-top: 15px !important;
}

.listTitle p {
  margin: 8px 0;
  font-size: 24px;
}

.mainTitle h1,
.createTitle {
  font-weight: normal;
  font-size: 30px;
  color: #383428;
  margin: 5px 0;
}

.createBtn {
  display: flex;
  justify-content: flex-end;
}

.createBtn,
.mainTitle {
  width: 50%;
}

.defaultInput {
  height: 40px;
  width: 80%;
  border: 1px solid #ef7734;
  padding-right: 50px;
  padding-left: 10px;
  margin: 10px;
  border-radius: 5px;
}

.defaultInput:focus {
  outline: none;
}

.submitBtn {
  margin-left: -53px;
  height: 31px;
  margin-top: 17px !important;
}

.renameInput {
  margin-top: 50px !important;
}

.renameBtn {
  margin-top: 58px !important ;
  background-color: #ffffff !important;
  color: #ef7734 !important;
  margin-left: -76px !important;
}

.taskCheckbox {
  width: 5%;
  border: #b4d9cb;
}

.taskBody {
  width: 85%;
  margin: auto 0;
}

.taskDeleteBtn {
  width: 10%;
}

.task {
  font-size: 20px;
  margin-bottom: 5px;
}

.taskInput {
  width: 75%;
  margin-left: 20px;
}

.subTask {
  font-size: 16px;
}

.listBg {
  background-image: url("../css/notebook-dark.png");
}

/* Create List */

.createInput {
  margin: 5px 0;
}

.addTaskBtn {
  margin-top: 13px !important;
  margin-left: -40px;
}

.addTodoBtnContainer {
  justify-content: center;
  height: 70px;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 70px;
}

.addTodoBtnContainer div {
  text-align: center;
  width: 70%;
  margin: 5px auto;
}

.addTodoBtnContainer button {
  width: 100%;
  margin: auto;
  justify-content: center;
  height: 50px;
}

.greenBtn {
  background-color: #b7cf51 !important;
  color: #574437 !important;
  text-transform: none !important;
}

.orangeBtn {
  background-color: #ef7734 !important;
  color: #ffffff !important;
  text-transform: none !important;
}

/* Home */
.bg {
  display: flex;
  height: max-content;
  background-image: url("./gplay.png");
  background-color: #e7eef5;
}

.imgsContainer {
  justify-content: center;
  flex-direction: column;
  margin-top: 100px !important;
}

.imgsContainer img {
  margin: 40px auto auto auto;
}

.homeImg1 {
  width: 60% !important;
}

.homeImg2 {
  width: 80% !important;
}

.homeBtnContainer {
  align-items: center;
  margin-top: 50px !important;
  margin-bottom: 30px !important;
}

.btnSize {
  width: 200px;
  height: 45px;
  margin: 10px auto auto auto !important;
  font-size: 17px !important;
}

a {
  text-decoration: none;
}

.accordionList {
  margin: 0 50px;
}

.changeNameBtn {
  background: none !important;
  font-size: 14px;
}

.changeNameBtn:hover {
  color: #ef7734;
}

.usernameContainer {
  text-align: center;
  color: #383428;
  align-items: center;
}

.homeUsername {
  font-size: 22px;
  font-weight: bold;
  color: #ef7734;
  margin-bottom: 8px;
}

.usernameContainer input {
  width: 250px;
}

.usernameContainer label {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

/* Registrar e Login */
.formContainer {
  height: 570px;
  width: 100%;
  background-color: #f9f4c2;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0 5px 2px lightgray;
}

.formMargin {
  margin-top: 40px !important;
}

.formStyle {
  align-items: center;
}

.formStyle p {
  font-size: 30px;
  color: #383428;
}

.formInput {
  margin: 5px auto;
  height: 40px;
  width: 250px;
  padding-left: 15px;
  font-size: 17px;
  border: 1px solid gray;
  border-radius: 5px;
}

.formInput::placeholder {
  color: #383428;
}

.errorText {
  font-size: 14px !important;
  color: red !important;
  margin: 0;
}

/* Media Query */

@media only screen and (min-width: 450px) {
  .logo {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .headerBackground,
  .headerContainer,
  .headerBackground::before {
    height: 100px;
  }

  .headerContainer {
    flex-direction: row;
  }

  .flex,
  .logo {
    margin: auto 0;
  }

  .logo {
    width: 50%;
  }

  .todoMain {
    width: 85%;
  }

  .listIcon {
    width: 5%;
  }

  .btnRow {
    width: 10%;
  }

  .renameBtn {
    margin-top: 17px !important;
    margin-left: -82px !important;
  }

  .renameInput {
    margin-top: 10px !important;
  }

  .taskInput {
    width: 76%;
    margin-left: 30px;
  }

  .createInput {
    width: 91%;
  }

  .addTodoBtnContainer {
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 70px;
  }

  .addTodoBtnContainer button {
    width: 70%;
  }

  .addTodoBtnContainer div {
    margin: 5px 10px;
  }

  .addTodoDiv {
    text-align: left !important;
  }

  .cancelTodoDiv {
    text-align: right !important;
  }

  .homeImg1 {
    width: 60% !important;
  }

  .homeImg2 {
    width: 80% !important;
  }

  .signUpMargin img {
    width: 45%;
  }

  .btnSize {
    width: 250px;
    height: 55px;
  }

  .formInput {
    width: 350px;
  }
  .usernameContainer label {
    font-size: 20px;
  }
}
